* {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, 'Lucida Grande', Arial, sans-serif; color: #000000;
}
title{
	text-align: center;
}

.logo_print{
	/* border: 2px black solid; */
	width: 40%;
	padding-bottom: 10%;
	margin-bottom: -10%;
}

.table_content{
	border: 2px black solid;
	padding-top: -10px;
}

.tableCommune {
	border-collapse:collapse;
	border: 1px solid black;
}

.tableCommune tr th {
	padding:4px;
	FONT-SIZE: 10px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid black;
}

.tableCommune tr {
	BACKGROUND:#f4d4ad;
}

.tableCommune tr td {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:10px;
	BACKGROUND:#f4e4d0;
	border: 1px solid black;
}

.tdQuantiteVirtuelle {
	text-align:center;
}

.tdPrix {
	text-align:right;
}

.tdQuantite {
	text-align:center;
}

h1 {
	FONT-SIZE: 20px;

}

.menu{
	display: none;	
}

footer{
	display: none;
}

.titrecontent{
	text-align: center;
	margin-bottom: 0%;
}

.datecontent{
	text-align:right;
	margin-top: -20%;
}
.datecontent h1{
	FONT-SIZE: 18px;
}